.content {
    margin: auto;
    max-width: 1500px;
    min-width: 1000px;
    position: relative;
    background-color: cornflowerblue;
}

.background-img-flexbox {
    display: flex;
    justify-content: center;
}

.background-img-div {
    flex: 1;
}

.background-img {
    width: 100%;
    object-fit: cover;
}