.products-grid {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    top: 220px;
    right: 0px;
    left: 0px;
}

.products-grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    column-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-tab-1,
.product-tab-2,
.product-tab-3 {
    background-color: white;
    height: 420px;
    padding: 0px 15px 0px 15px;
}

.product-row {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    padding: 1px 15px 0px 15px;
}