.products-grid {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    top: 220px;
    right: 0px;
    left: 0px;
}

.products-grid-flexbox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-tab-1,
.product-tab-2,
.product-tab-3 {
    background-color: white;
    height: 420px;
    margin-right: 10px;
    margin-left: 10px;
    flex: 1;
}

.product-row {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
}