.navbar-div {
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    z-index: 100;
}

.left-navbar {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.hamburger-div {
    margin-left: 15px;
}

.hamburger {
    width: 27px;
}

.youtubelogo-div {
    margin-left: 20px;
}

.youtube-logo {
    width: 100px;
}

.middle-navbar {
    max-width: 660px;
    flex: 1;
    display: flex;
    align-items: center;
}

.search {
    flex: 1;
    height: 35px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    padding-left: 20px;
    font-size: 18px;
}

.search:focus {
    outline: none;
}

.search-btn {
    width: 33px;
    height: 33px;
    border-radius: 50px;
    border: none;
    background-color: rgb(241, 241, 241);
    margin-left: -37px;
}

.voice-search-btn {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    margin-left: 10px;
    position: relative;

}

.right-navbar {
    min-width: 190px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.upload,
.ytapps,
.notification {
    width: 25px;
    padding: 7px;
    border-radius: 100px;
    transition: background-color 0.15s;
}

.upload:hover,
.ytapps:hover,
.notification:hover {
    background-color: rgb(236, 236, 236);
}

.notification-div {
    position: relative;
}

.notification-count {
    background-color: red;
    color: white;
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 10px;
    padding: 0px 3px 0px 3px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.mychannel {
    width: 35px;
    margin-top: 2px;
    border-radius: 50px;
    padding: 10px;
}

.search-btn,
.voice-search-btn,
.upload-div,
.ytapps-div,
.notification-div {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.search-btn .help-text,
.voice-search-btn .help-text,
.upload-div .help-text,
.ytapps-div .help-text,
.notification-div .help-text {
    position: absolute;
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.945);
    border-width: 1px;
    z-index: 100;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    color: white;
    bottom: -45px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-btn:hover .help-text,
.voice-search-btn:hover .help-text,
.upload-div:hover .help-text,
.ytapps-div:hover .help-text,
.notification-div:hover .help-text {
    opacity: 1;
}