.navbar-div {
    display: flex;
    height: 55px;
    justify-content: space-between;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(21, 36, 36);
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: darkslategrey;
}

.left-navbar {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.hamburger-div {
    margin-left: 15px;
}

.hamburger {
    width: 27px;
}

.youtubelogo-div {
    margin-left: 20px;
}

.youtube-logo {
    width: 100px;
}

.middle-navbar {
    max-width: 660px;
    flex: 1;
    display: flex;
    align-items: center;
}

.search {
    flex: 1;
    height: 35px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    padding-left: 20px;
    font-size: 18px;
}

.search-btn {
    width: 33px;
    height: 33px;
    border-radius: 50px;
    border: none;
    background-color: rgb(241, 241, 241);
    margin-left: -37px;
    display: flex;
    align-items: center;
}

.voice-search-btn {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.right-navbar {
    min-width: 170px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}

.upload,
.ytapps,
.notification {
    width: 25px;
    border-radius: 100px;
}

.mychannel {
    width: 35px;
    margin-top: 2px;
    border-radius: 50px;
}