.navbar-div {
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    z-index: 100;
}

.left-navbar {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.hamburger-div {
    margin-left: 15px;
}

.hamburger {
    width: 27px;
}

.youtubelogo-div {
    margin-left: 20px;
}

.youtube-logo {
    width: 100px;
}

.middle-navbar {
    max-width: 660px;
    flex: 1;
    display: flex;
    align-items: center;
}

.search {
    flex: 1;
    height: 35px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    padding-left: 20px;
    font-size: 18px;
}

.search:focus {
    outline: none;
}

.search-btn {
    width: 33px;
    height: 33px;
    border-radius: 50px;
    border: none;
    background-color: rgb(241, 241, 241);
    margin-left: -37px;
    display: flex;
    align-items: center;
}

.voice-search-btn {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.right-navbar {
    min-width: 170px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload,
.ytapps,
.notification {
    width: 25px;
    border-radius: 100px;
}

.notification-div {
    position: relative;
}

.notification-count {
    background-color: red;
    color: white;
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: 10px;
    padding: 0px 3px 0px 3px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.mychannel {
    width: 35px;
    margin-top: 2px;
    border-radius: 50px;
}